{% extends 'basefile.html' %}
{% load static %}
{% block content %}
    <div class="container"  >
        {% if catoon_path %}
            <div class="col-lg">
                <div class="box-element">
                <img class="img-thumbnail" src="{{ catoon_path }}" alt="">
                </div>
            </div>
        {% endif %}
        {% if sketch_path %}
            <div class="col-lg">
                <div class="box-element">
                <img class="img-thumbnail" src="{{ sketch_path }}" alt="">
                </div>
            </div>
        {% endif %}
        <div class="row">
            <div class="col-lg-2">
                <form method="post" enctype="multipart/form-data" action="catoonsketch">
                    {% csrf_token %}
                    <button class="button button2" type="submit" value="False">Catoonize</button>
                </form>
            </div>
            <div class="col-lg-2">
                <form method="post" enctype="multipart/form-data" action="dwtparameters">
                    {% csrf_token %}
                    <button class="button button2" type="submit" value="True">Sketch</button>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}